.main--body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}
.main--header h1{
  color:#fff;
  font-size: 2rem;
  text-align: left;
  margin:0 4rem;
  padding: 2rem 0;
  border-bottom: 2px solid #fff;
}

.main--content {
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 30rem 30rem;
  column-gap:4rem;
  height:auto;
}

.tile--body{
}

.tile--header h1{
  color:#fff;
  font-size: 1.5rem;
  text-align: left;
}

.tile--content {
  background-color: #141414;
  margin-top: 2rem;
}
.content--list{
  height:4rem;
  display: flex;
  align-items: center;
}
.list--image img {
  height:3rem;
  width:auto;
  margin:0 0.5rem
}

.list--details{
  display: flex;
  flex-direction: column;
}
.list--title {
  font-size: 1.5rem;
  color:#DD625E;
  margin-left: 2rem;
  cursor:pointer; 
}
.list--author{
  font-size: 0.7rem;
  color:#9E9E9E;
}

.link:focus,
.link:visited,
.link:link,
.link:active {
  text-decoration: none;
}

@media screen and (max-width: 760px) {
  .main--body {
  }
  
}
