.home--body {
  margin-top: 4rem;
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: flex-start;
  overflow-y: hidden;
}

.sidelist {
  height: 90vh;
  width: 40%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  transition: all 0.6s ease;
}

.sidelist--header {
  font-size: 0.5rem;
  padding: 0.5rem 1rem;
  min-height: 4rem;
  display: flex;
  justify-content: space-between;
}

.sidelist--header h1 {
  text-transform: uppercase;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.stacklist--container {
  font-size: 0.4rem;
  padding: 1rem 0.5rem;
  display: flex;
  text-align: left;
  min-height: 6rem;
  cursor: pointer;
  justify-content: space-between;
}

.stacklist {
  width: 80%;
}

.videoPlayer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sidebar--icon {
  display: none;
}

.sidelist--show {
  display: none;
}

.sidelist--close {
  display: none;
}

.addToPlaylist {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  position: absolute;
  top:25%;
  width: 10rem;
  height: 10rem;
  background-color: #fff;
  right:50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.addToPlaylist input {
  border: none;
  outline: none;
}

@media screen and (max-width: 760px) {
  .sidelist--close{
    display: block;
  }

  .sidebar--icon {
      display: block;
      cursor: pointer;
      margin: 0 1rem;
      position: absolute;
      top:4rem;
  }
  .sidelist {
    position: absolute;
    background-color: #fff;
    height: 90vh;
    top: 4rem;
    transform: translateX(-100%);
    overflow: auto;
    transition: all 0.6s ease;
    z-index: 5;
  }
  .sidelist--show {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    height: 90vh;
    top: 4rem;
    transform: translateX(0);
    overflow: auto;
    transition: all 0.6s ease;
    z-index: 5;
  }
}
