.playlist--body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5rem;
}


.playlists {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    width: 100vw;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
    padding: 1rem;
}
.playlist--card {
    padding: 2rem;
    width: 15rem;
    height: 15rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.playlist--btn {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playlist--btn button {
    padding:0.4rem 1rem;
    border:none;

}


@media screen and (max-width: 760px) {
    .playlist--body{
        margin-top: 0;
    }
    .createplaylist--container{
        margin-top:1rem;
    }
}