* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Lato' !important;
}


@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body {
  background-color: #222222;
}

@import url("https://fonts.googleapis.com/css?family=Lato");


h1{
  font-size: 1rem;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

